<div ng-controller="TestSyllabus as vm" ng-init="vm.init()">
  <h3 class="col-md-12 "><u>{{vm.itemHeading}}</u></h3>
  <img class="img-responsive col-lg-3 col-md-4 col-sm-4 col-xs-12 fade" img-preload ng-src="{{vm.item.imgQuestion || vm.item.img}}">
  
  <div class="col-md-6 col-sm-6">
    <div class="h2 center-block ">
      <span ng-hide="vm.item.type === 'translation'">What is this?</span>
      <span ng-show="vm.item.type === 'translation'">What is Japanese for <i>{{vm.item.english}}</i>?</span>
    </div>
    
    <select name="options" class="col-xs-10 col-sm-10 col-md-4" ng-model="vm.selected">
      <option value="" disabled selected><i>Select</i></option>
      <option ng-repeat="option in vm.answerOptions" value="{{option}}">{{option}}</option>
    </select>
    <button class="top-buffer bottom-buffer btn btn-info btn-lg col-xs-10 col-sm-10 col-md-4" ng-click="vm.next()">Continue</button>
  </div>  
</div>