<div ng-controller="PlaySyllabus as vm" ng-init="vm.init()">
  <h3 class="col-md-12 "><u>{{vm.itemHeading}}</u></h3>
  <img class="img-responsive col-lg-3 col-md-4 col-sm-4 col-xs-12 fade" img-preload ng-src="{{vm.item.imgQuestion || vm.item.img}}">
  
  <div class="col-md-6 col-sm-6">
    <div class="h2 center-block ">
      <span ng-hide="vm.item.type === 'translation'">What is this?</span>
      <span ng-show="vm.item.type === 'translation'">What is Japanese for <i>{{vm.item.english}}</i>?</span>
    </div>
    
    <select name="options" ng-change="vm.answerState='none'" required class="col-xs-10 col-sm-10 col-md-7 col-lg-7"  ng-model="vm.selected">
      <option value="" disabled selected><i>Select</i></option>
      <option ng-repeat="option in vm.answers" value="{{option}}">{{option}}</option>
    </select>
    <div class="col-xs-10 col-sm-10 col-md-4" ng-show="vm.answerState==='incorrect'">Sorry this is wrong. <a style="cursor:pointer;" ng-click="vm.showAnswer()">Show answer.</a></div>
    <button class="top-buffer bottom-buffer btn btn-primary btn-lg col-xs-10 col-sm-10 col-md-7 col-lg-7" ng-click="vm.answer()" ng-show="vm.answerState==='none'">Submit</button>
    <button class="top-buffer bottom-buffer btn btn-success btn-lg col-xs-10 col-sm-10 col-md-7 col-lg-7" ng-click="vm.next()" ng-show="vm.answerState==='correct'">✓ Continue</button>
    <button class="top-buffer bottom-buffer btn btn-danger btn-lg col-xs-10 col-sm-10 col-md-7 col-lg-7" ng-click="vm.answer()" ng-show="vm.answerState==='incorrect'">✘ Try Again</button>
  </div>  
</div>