<h3 class="text-center"><u>Select Belts</u></h3>
<md-list-item ng-repeat="item in belts" class="col-sm-12 col-md-6 col-md-offset-3">
<md-button class="md-fab" style="background-color: {{item.color}}" aria-label="{{item.name}}" ng-click="item.selected = !item.selected"></md-button>
<p>
    <h3>{{ item.name }}</h3>
</p>
<md-switch class="md-primary" md-no-ink aria-label="{{item.name}}" ng-model="item.selected"></md-switch>
<md-divider ></md-divider>
</md-list-item>
<button class="top-buffer btn btn-primary btn-lg col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4" ng-click="start()">{{action}}</button>
